@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import 'antd/dist/antd.css';

body{
    font-family: 'Ubuntu', sans-serif !important;
}

h1{
    font-family: 'Nerko One', cursive;
}

/* ----------------------------------------HEADER---------------------------------------------- */

.header{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("./web-design-2038872_1920.jpg");
    background-size: 150%;
    background-position: right;
    background-attachment: fixed
}

.bg-gradient{
    background: rgb(59,86,163);
    background: linear-gradient(156deg, rgba(59,86,163,1) 14%, rgba(201,53,53,0.8914916308320203) 82%);
    background-size: 150%;
    background-position: center;
    background-attachment: fixed
}

/* Transformation photo profil header */
.mask{
    --uiMaskClipPath: var(--maskClipPath);
    box-sizing: var(--maskBoxSizing, border-box);
    display: var(--maskDisplay, inline-flex);
    padding: var(--maskStrokeThickness, 0px);
    clip-path: var(--uiMaskClipPath);
    --maskStrokeColor: #ecebef;
  --maskStrokeThickness: 5px;
}
  
.mask__img{
    max-width: 100%;
    display: block;
    clip-path: var(--uiMaskClipPath);
    filter: grayscale(1) opacity(1);
}

.mask__img:hover{
    filter: grayscale(0) opacity(1);
    border-radius: 30px;
}
  
.mask, 
.mask__img{
    transition: clip-path var(--maskAnimationDuration, .2s) var(--maskAnimationTimingFunction, ease-out);
}

.mask_type1{
    --maskClipPath: polygon(0 10%, 10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%);
}
  
.mask_type1-a2{
    --maskAnimationDuration: .5s;
}
  
.mask_type1-a2:hover, 
.mask_type1-a2:focus{
    --maskClipPath: polygon(0 0, 90% 0, 100% 0, 100% 90%, 100% 100%, 10% 100%, 0 100%, 0 10%); 
}

/* ----------------------------------------PRESENTATION---------------------------------------------- */

/* Bouton CV */
.flip {
    
    width: 160px;
    height: 48px;
    perspective: 500px;
}
  
.flip a {
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform 0.3s;
    cursor: pointer;
}

.flip a .front,
.flip a .back {
    margin: 0;
    width: 160px;
    height: 48px;
    line-height: 48px;
    position: absolute;
    text-align: center;
    letter-spacing: 0.4em;
}

.flip a .front {
    background-color: #222;
    color: #fff;
    transform: rotateY(0) translateZ(24px);
}

.flip a .back {
    background-color: rgba(255,255,255,0);
    color: rgba(34,34,34,0);
    transform: rotateX(90deg) translateZ(24px);
    overflow: hidden;
}

.flip a .back:after {
    content: '';
    position: absolute;
    top: -32%;
    left: -10%;
    width: 120%;
    height: 50%;
    background: #222;
    transform: rotate(8deg);
    transition: all 0.5s ease;
    transition-delay: 0.15s;
}

.flip a:hover {
    transform: translateZ(-24px) rotateX(-90deg);
}

.flip a:hover .front {
    background: #000;
    transition: all 0.8s ease;
}

.flip a:hover .back {
    color: #222;
    transition: color 0.4s linear;
    background: white;
    border: 1px solid black;
}

.flip a:hover .back:after {
    transform: rotate(6deg) translate(100px, -18px);
}

/* ----------------------------------------EDUCATION---------------------------------------------- */

.block-education-right{
    width: auto;
    height: auto;
    text-align: center;
    background-color: #f5f6fa;
    border-radius: 20px;
    border: 5px solid #c23616;
    margin-right: 30px;
    margin-left: 30px;
    padding: 10px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.block-education-right::before{
    content: "";
    position: fixed;
    right: 95%;
    top: 20px;
    border-top: 20px solid transparent;
    border-right: 30px solid #f5f6fa;
    border-bottom: 20px solid transparent;
}

.block-education-left{
    width: auto;
    height: auto;
    text-align: center;
    background-color: #f5f6fa;
    border-radius: 20px;
    border: 5px solid #c23616;
    margin-right: 30px;
    margin-left: 30px;
    padding: 10px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.block-education-left::before{
    content: "";
    position: fixed;
    left: 95%;
    top: 20px;
    border-top: 25px solid transparent;
    border-left: 30px solid #f5f6fa;
    border-bottom: 25px solid transparent;
    
}

/* ----------------------------------------EXPERIENCE---------------------------------------------- */

.ruban-title
{
  background-color: #c23516e0;
  position: absolute;
  color: white;
  right: -10px;
  top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  max-width: 99%;
}

/* ----------------------------------------COMPETENCES---------------------------------------------- */

.block-competences{
    width: auto;
    height: auto;
    background-color: #f5f6fa;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    transition: transform 0.8s ease-in-out;
}

.block-competences:hover{
    transform: scale(1.03);
}

/* ----------------------------------------PORTFOLIO---------------------------------------------- */

.block-portfolio{
    width: auto;
    height: auto;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-portfolio{
    background-color: #2d3436;
    margin-bottom: 20px;
    border-radius: 4px;
    padding-bottom: 10px;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.card-portfolio:hover{
    background-color: #2d3436e3;
}

.img-portfolio{
    transition: transform 0.4s ease-in-out;
    transform: scale(1);
    will-change: transform;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, black), color-stop(0.2, black), color-stop(0.3, black), color-stop(0.50, black), color-stop(0.70, rgba(0, 0, 0, 0.6)), color-stop(1, transparent));
     
}

.img-portfolio:hover{
    transform: scale(1.03);
    border-radius: 8px;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, black), color-stop(0.2, black), color-stop(0.4, black), color-stop(0.60, black), color-stop(0.80, rgba(0, 0, 0, 0.6)), color-stop(1, transparent)); 
}

.header-card-portfolio{
    background-color: #e8e8e8;
    height: 35px;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: left;
    padding: 5px;
}

.btn-bullet{
    display: inline-block;
    height: 10px; 
    width: 10px; 
    border-radius: 100%; 
    margin-right: 5px;
}

.url-projet{
    background-color: white;
    font-size: 12px;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 15px;
}

/* ----------------------------------------CONTACT---------------------------------------------- */

.card-contact{
    border-radius: 30px;
    padding: 35px 35px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    background-color: white;
    max-width: 50% !important;
}

.timeline-mobile{
    display: none;
    margin-bottom: 30px;
}

.button-envoyer{
    background: rgb(59,86,163);
    background: linear-gradient(156deg, rgba(59,86,163,1) 14%, rgba(201,53,53,0.8914916308320203) 82%);
    background-size: 150%;
    background-position: center;
    border: none !important;
    height: 32px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.button-envoyer:hover{
    background: rgb(59,86,163);
    background: linear-gradient(156deg, rgba(59,86,163,1) 14%, rgba(201,53,53,0.8914916308320203) 82%);
    background-size: 150%;
    background-position: center;
    border: none !important;
    color: white;
    box-shadow: 0 40px 40px rgba(0, 0, 0, 0.2), 0px 0px 40px rgba(0, 0, 0, 0.2);
}

.button-envoyer:focus{
    background: rgb(59,86,163);
    background: linear-gradient(156deg, rgba(59,86,163,1) 14%, rgba(201,53,53,0.8914916308320203) 82%);
    background-size: 150%;
    background-position: center;
    border: none !important;
    color: white;
    box-shadow: 0 40px 40px rgba(0, 0, 0, 0.2), 0px 0px 40px rgba(0, 0, 0, 0.2);
}

.input-text-contact{
    width: 100%;
    padding: 4px 11px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 0px 0px 40px rgba(0, 0, 0, 0.2);
}

.input-text-contact:hover{
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 80px rgba(0, 0, 0, 0.2);
}

/* ----------------------------------------MEDIA QUERIES---------------------------------------------- */

@media screen and (max-width:1470px){
	.waves-bottom-presentation{
        bottom: -700px !important;
    }
    .block-education-right::before{
        right: 94%;
    }
    .block-education-left::before{
        left: 94%;
    }
}

@media screen and (max-width:1200px){
    .card-portfolio{
        margin-bottom: 20px;
    }
    .block-education-right::before{
        right: 93%;
    }
    .block-education-left::before{
        left: 93%;
    }
}

@media screen and (max-width:1088px){
	.titre-education{
        margin-top: 5% !important;
    }
    .waves-bottom-presentation{
        bottom: -700px !important;
    }
    .block-education-right::before{
        right: 92%;
    }
    .block-education-left::before{
        left: 92%;
    }
}

@media screen and (max-width:992px){
    .block-competences{
        height: 235px;
    }
    .img-competences{
        width: 60% !important;
    }
    
}

@media screen and (max-width:916px){
    .waves-bottom-presentation{
        bottom: -680px !important;
    }
    .block-education-right::before{
        right: 90%;
    }
    .block-education-left::before{
        left: 90%;
    }
}

@media screen and (max-width:768px){
	
    .mask__img
    {
        margin-left: 0;
        margin-right: 0;
        width: 300px !important;
        margin-bottom: 10% !important;
    }
    .timeline-desktop{
        display: none;
    }
    .block-education-right::before{
        display: none;
    }
    .block-education-left::before{
        display: none;
    }
    .timeline-mobile{
        display: block;
    }
    .waves-bottom-presentation{
        display: none;
    }
    .texte-presentation{
        font-size: 20px;
    }
    .block-competences{
        height: 235px;
    }
    .img-competences{
        width: 70% !important;
        height: 90% !important;
        margin-top: 5% !important;
    }
    .texte-competences h4,h5{
        font-size: 20px !important;
    }
    .card-portfolio{
        margin-bottom: 20px;
    }
}

@media screen and (max-width:660px){
	
    .header{
        background-size: 290%;
    }
}

@media screen and (max-width:585px){
	
    .img-competences{
        height: 80% !important;
        width: 90% !important;
        margin-top: 5% !important;
    }
    .desc-competences{
        height: 200px;
    }
    .texte-competences h4,h5{
        font-size: 18px !important;
    }
    
    
}

@media screen and (max-width: 500px){
    .img-competences{
        height: 90% !important;
        width: 90% !important;
        margin-top: 8% !important;
    }
    .texte-competences h4,h5{
        font-size: 13px !important;
    }
    .icon-competences{
        font-size: 18px !important;
    }
    .header-title{
        margin-top: 60px;
    }
    .mask{
        --uiMaskClipPath: none;
        box-sizing: none;
        display: var(--maskDisplay, inline-flex);
        padding: none;
        clip-path: none;
        --maskStrokeColor: none;
      --maskStrokeThickness: none;
    }
      
    .mask__img{
        max-width: 100%;
        display: block;
        clip-path: none;
        filter: none;
    }
    
    .mask__img:hover{
        filter: none;
        border-radius: none;
    }
    .img-header{
        width: 300px !important;
        height: 200px;
        margin-top: 15%;
    }
}

/* ----------------------------------------WAVES---------------------------------------------- */

.waves-bottom-header {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.waves-bottom-presentation {
    position: absolute;
    bottom: -225%;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.picto{
    transition: transform 0.8s ease, color 0.8s ease;
}

.picto:hover{
    transform: scale(1.2);
    color: #C23616 !important;
}

.picto-footer:hover{
    color: #38373D !important;
}