@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import 'antd/dist/antd.css';

body{
    font-family: 'Ubuntu', sans-serif !important;
    background-image: url("./327-3274460_web-development.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.block{
    width: auto;
    height: auto;
    text-align: center;
    background-color: #c23616;
    border-radius: 20px;
    margin-right: 30px;
    margin-left: 30px;
    padding: 10px;
}
