@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import 'antd/dist/antd.css';

body{
    font-family: 'Ubuntu', sans-serif !important;
    background-image: url("./327-3274460_web-development.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.block-education-right{
    width: auto;
    height: auto;
    text-align: center;
    background-color: #f5f6fa;
    border-radius: 20px;
    border: 5px solid #c23616;
    margin-right: 30px;
    margin-left: 30px;
    padding: 10px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.block-education-right::before{
    content: "";
    position: fixed;
    right: 95%;
    top: 20px;
    border-top: 20px solid transparent;
    border-right: 30px solid #f5f6fa;
    border-bottom: 20px solid transparent;
    
}

.block-education-left{
    width: auto;
    height: auto;
    text-align: center;
    background-color: #f5f6fa;
    border-radius: 20px;
    border: 5px solid #c23616;
    margin-right: 30px;
    margin-left: 30px;
    padding: 10px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.block-education-left::before{
    content: "";
    position: fixed;
    left: 95%;
    top: 20px;
    border-top: 25px solid transparent;
    border-left: 30px solid #f5f6fa;
    border-bottom: 25px solid transparent;
    
}

.block-competences{
    width: auto;
    height: auto;
    background-color: #f5f6fa;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

.block-competences:hover{
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.block-portfolio{
    width: auto;
    height: auto;
    background-color: #f5f6fa;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.card-portfolio{
    border-radius: 30px;
    padding: 35px 35px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.card-portfolio:hover{
    box-shadow: 0 80px 80px rgba(0, 0, 0, 0.2), 0px 0px 100px rgba(0, 0, 0, 0.2);
}

.card-contact{
    border-radius: 30px;
    padding: 35px 35px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    background-color: white;
    max-width: 50% !important;
}

@media screen and (max-width:768px){
	
    .img
    {
        margin-left: 0;
        margin-right: 0;
        width: 350px !important;
        margin-bottom: 10% !important;
    }
}
